<section class="app-cover">
    <search-panel (searchStart)="search($event)"></search-panel>

    <section class="article-area" *ngIf="!isErr; else errMsg">
        <article-list
                *ngFor="let article of articles"
                [data]="article">

        </article-list>
    </section>

    <ng-template #errMsg>
        <div class="err-msg-area">
            <h2>Error!</h2>
            <h2>Status: {{errInfo.status}}</h2>
            <h2>Message: {{errInfo.error.message}}</h2>
        </div>
    </ng-template>
</section>
